@page
@model YourNamespace.Pages.Account.ChangePasswordModel

<form method="post">
    <!-- Hidden token input bound to the Token property -->
    <input type="hidden" name="token" value="@Model.Token" />

    <!-- New password input bound to the NewPassword property -->
    <input type="password" name="newPassword" placeholder="Enter your new password" />

    <button type="submit">Reset Password</button>
</form>
